.bgheader {
  background: url(../public/bgheader.png) no-repeat center/cover;
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.bgheader img {
  width: 40%;
}
.title {
  text-align: center;
  margin: 2em 0;
  font-size: 42px;
}
.list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1em;
  justify-content: center;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;

  text-align: center;
  margin-bottom: 4em;
}
.item p {
  margin: 0.5em 0;
}
.item .itemName {
  font-size: 22px;
  text-align: center;
}
.item .itemPrice {
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
.item a {
  background: rgb(67,0,219);
  background: linear-gradient(90deg, rgba(67,0,219,1) 0%, rgba(106,59,152,1) 90%);
  box-shadow: 0px 3px 6px #5705F264;
  border-radius: 8px;
  padding: 10px 50px;
  width: 55%;
  text-align: center;
  margin: 1em auto 0 auto;
}

@media (max-width: 600px) {
}
